//font size
$small: 12px;
$smallm: 14px;
$medium: 16px;
$large: 18px;
$large-x: 20px;
$large-xx: 30px;
$large-xxx: 70px;


//font-family
$maquina: 'Courier Prime', monospaced;

//font-weight
$regular: 400;
$bold: 700;

//color
$azul: #4582b5;
$coral: #fd7d4e;